.box5{
    width: 100;
    padding: 20px 40px;
    background-color: #aaaeb0;
    background-color: #051c26;
}
.box51{
    /* width: fit-content; */
    margin: auto;
}
.box51>h1{
    padding: 5px;
    /* transform: rotate(-3.6deg); */

    color: #101e38;
    border-radius: 12px;
    /* border: 4px solid #001C55; */
    font-weight: bolder;
}
.box52{
    display: flex;
    margin-top: 10px;
}
.box511{
    padding: 30px;
}
.box5111{
    margin-top: 10px;
    color: #001C55;
}
.box5112{
    margin-left: -20px;
    display: flex; 
    gap: 20px;
    margin-top: 20px;
}
.ico>a>i{
    color: white;
    padding: 10px;
    background: #001C55;
    border-radius: 50%;
  }

  .box512{
    text-align: center;
    margin: auto;
  }

.img51{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 4px solid #72351C;
}
.box5h1{
    color: #001C55;
    font-size: 35px;
}
.box5h3{
    color: #535461;
    margin-top: 20px;
}



