.active{
  background-color:  rgb(39, 160, 181);
}
/* .navlog  :hover{
 background-color: red;
} */

nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032438;
  color: white;
  position: sticky;
  top: 0;
  padding: -10px;
  margin-bottom: -60px;
}

nav .title {
  position: absolute;
  /* top: 0.30rem; */
  right: 0.5rem;
  font-size: 1.2rem;
  /* margin: rem; */
}

nav ul {
  display: flex;
}

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
/* 
nav ul li a:not(.active):hover {
   background-color:#3e7673 ; 
} */

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}


@media (max-width: 700px) {
  nav .menu {
      display: flex;
  }

  nav {
      /* height: 50px; */
      min-height: 50px;
      flex-direction: column;
      align-items: flex-start;
      /* justify-content: space-evenly; */
     
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      /* background-color: #032438; */
      /* background-color: #141718; */

      align-items: center;
      /* justify-content: center; */
      width: 80%;
    
      display: flex;
  }


  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
}
.tdn :hover{
 border: 1px solid rgb(10, 81, 180);
}
.tdn{
  font-weight: bolder;
 font-size: 17px;
}

