.project{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

}
.project-title{ 
    margin-top: -8px;
    text-align: center;
    color: rgb(0, 85, 160);
    text-shadow: 2px 2px 2px black;
 }

.project-card{
  margin: 10px;
  width: 45%;
  /* min-width: 350px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.project-card  video{
  border-radius: 10px;
  width: 100%;
 
}
.project-card iframe{
  width: 100%;
  height: 400px;
 
}
.des{
    padding: 20px;
}
.link{

 display :flex;
  justify-content: space-around;
   margin-top:-30px;
}

@media screen and (min-width : 0px) and  (max-width : 480px) {
  .project{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px; */
 
   /* display: grid;
   /* justify-content: center; */
   /* grid-template-columns: repeat(auto-fill, minmax(4000px, 1fr));  */
   display: flex;
   flex-wrap: wrap;
   width: 100%;
 
 }
 .project-card{
  width: 300px;
  /* margin: 20px; */
  /* width: 45%; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

}  


@media screen and (min-width: 200px) and (max-width: 400px){
  .box10>span{
      font-size: 15px;
  }
  .wlcm_note{
      font-size: 18px;
  }

  .box11{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  }
  .box111{
      width: 110%;
  }
  .some_about{
      font-size: 20px;
  }

  .box112>img{
      display: none;
  }
  .tool{
      margin-top: 10px;
  }
  .box22{
      width: 95%;
  }
  .box3{
      padding: 2px;
  }
  .box32{
      grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  }
  .flip-card{
      width: 350px;
  }

  .box01>h1, .box21>h1, .box31>h1, .box41>h1{
      font-size: 20px;
  }
  .box01{
      margin-bottom: 0;
  }
  .box6{
      font-size: 16px;
  }
  .box52{
      flex-direction:column-reverse;
  }
  .box511 {
      padding: 0px;
      margin-top: 17px;
  }

  .box7{
      width: 100%;
  }

  .box8>.calendar>.contrib-column{
      display: none;
  }

}

@media screen and (min-width: 400px) and (max-width: 520px) { 
  .box10>span{
      font-size: 17px;
  }

  .wlcm_note{
      font-size: 20px;
  }

  .box11{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
  }
  .box111{
      width: 100%;
  }
  .some_about{
      font-size: 25px;
  }

  .box112>img{
      display: none;
  }
  .tool{
      margin-top: 10px;
  }
  .box22{
      width: 85%;
  }
  .box3{
      padding: 5px;
  }
  .box6{
      font-size: 18px;
  }
  .box52{
      flex-direction:column-reverse;
  }
  .box511 {
      padding: 0px;
      margin-top: 17px;
  }

  .box7{
      width: 100%;
  }

  .box8>.calendar>.contrib-column{
      display: none;
  }

}

.arrup{
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  color: #72351C;
}

@media screen and (min-width: 521px) and (max-width: 730px){

  .box10>span{
      font-size: 28px;
  }

  .box11{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
  }
  .box111{
      width: 95%;
  }

  .box112>img{
      display: none;
  }

  .tool{
      margin-top: 10px;
  }
  .box22{
      width: 85%;
  }
  .box52{
      flex-direction:column-reverse;
  }

  .box7{
      width: 100%;
  }

  .box8>.calendar>.contrib-column{
      display: none;
  }

}




@media  (max-width: 550px) {
    
    .project-card{
      width: 350px;
    }
    .con{
        width: 350px;
    }
    }

    .project-card1{
        display: flex;
    }
   
    .project-tech-stack{
    display: flex;
    justify-content: space-around;
    width: 300px;
    /* border: 2px solid black; */

    margin: auto;
    }
    .project-tech-stack  :hover{
     border-radius: 10px;
     background-color: rgb(3, 50, 98);
    }


    .project-tech-stack img{
        padding: 5px;
     /* border: 2px solid black; */
     width: 30px;
    
     /* margin: 0 0 0 30px; */
     box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    }
    



    
